{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": ["eslint:recommended", "plugin:vue/vue3-essential", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": ["error", "always-multiline"],
    "max-len": ["warn", { "code": 80 }],
    "no-undef": "error",
    "no-var": "error",
    "prefer-arrow-callback": "off",
    "quotes": ["error", "double", { "avoidEscape": true }]
  }
}
