{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-html/html",
    "stylelint-config-html/vue"
  ],
  "plugins": ["stylelint-declaration-block-no-ignored-properties"],
  "rules": {
    "plugin/declaration-block-no-ignored-properties": true,
    "media-feature-name-no-vendor-prefix": true,
    "at-rule-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "max-empty-lines": 1
  },
  "overrides": [
    {
      "files": ["src/**/*.css", "src/**/*.scss"],
      "customSyntax": "postcss-scss"
    },
    {
      "files": ["public/**/*.html", "src/**/*.vue"],
      "customSyntax": "postcss-html"
    }
  ]
}
