{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-html/html",
    "stylelint-config-html/vue",
    "stylelint-config-prettier"
  ],
  "plugins": ["stylelint-declaration-block-no-ignored-properties"],
  "rules": {
    "at-rule-no-unknown": [true, { "ignoreAtRules": ["use"] }],
    "at-rule-no-vendor-prefix": true,
    "max-empty-lines": 1,
    "media-feature-name-no-vendor-prefix": true,
    "plugin/declaration-block-no-ignored-properties": true,
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": "always",
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true
  },
  "overrides": [
    {
      "files": ["src/**/*.scss"],
      "customSyntax": "postcss-scss"
    },
    {
      "files": ["public/**/*.html", "src/**/*.vue"],
      "customSyntax": "postcss-html"
    }
  ]
}
